<!--Créations FOOTER-->
<footer class="footer">
    <div class="crop"></div>

    <!--Informations FOOTER-->
    <h1 class="title">La région</h1><br>
    <h2 class="city">Lyon</h2><br>


    <p class="infos">Lyon <br> <br>
       <a href="https://www.google.fr/maps/dir//101+Cr+Charlemagne,+69002+Lyon/@45.7402832,4.8163777,16.75z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47f4ebceb7217f5b:0x97dd96361cc92602!2m2!1d4.8190973!2d45.7403373?entry=ttu">101 cours Charlemagne</a> <br>
       CS 20033 <br>
       69269  LYON CEDEX 02 <br>
       France <br>
       Ouvert de 8h15 à 17h du lundi au vendredi
       </p> <br>

       <p class="infos"><a href="tel:+33426734000">+33 (0)4 26 73 40 00</a> <br>
       De 8h30 à 17h du lundi au vendredi</p> <br>

       <p class="infos">Trams T1 et T2 - Arrêt Hôtel de région - <br> Montrochet</p>

</footer>
<!--Fin du footer/ Ajouts des liens sociaux en dessous du footer-->
<div class="socialnetwork">
    <div class="network">
       <a href="https://facebook.com/"><img src="../assets/images/network/facebook.png" alt="Facebook" class="imgnetwork"></a>
       <a href="https://linkedin.com/"><img src="../assets/images/network/linkedin.png" alt="Linkedin" class="imgnetwork"></a>
       <a href="https://youtube.com/"><img src="../assets/images/network/youtube.png" alt="Youtube" class="imgnetwork"></a>
       <a href="https://instagram.com/"><img src="../assets/images/network/instagram.png" alt="instagram" class="imgnetwork"></a>
       <a href="https://x.com/"><img src="../assets/images/network/X.jpg" alt="X" class="imgnetwork"></a>
    </div>
</div>