<div class="box_navbar">
<nav class="navbar">
  <div class="logo">
  <img src="../assets/images/favicon-32.png" class="logoimg"><img src="../assets/images/Logo.png" width="60%" class="logoimg"> </div>
  <ul class="navbar-list">
    

   

<div class="links">
  <div class="form">
    <form action="">
    <input class="input" placeholder="Rechercher" type="text" minlength="4" maxlength="8" size="10" required="name"  >
  </form> 
  </div>  <br>
<div class="listoflink">
    <li class="navbar-item"><a [routerLink]="'listofartisan'" class="navbar-link">Liste des artisans↓</a></li>
    <li class="navbar-item"><a [routerLink]="''" class="navbar-link">Aides</a></li>
    <li  class="blue_button"><a [routerLink]="''" class="navbar-link2">Services↓</a></li>
    <li  class="blue_button"><a [routerLink]="''" class="navbar-link2">Bâtiment↓</a></li>
    
  </div>
</div>
   </ul>
 </nav>
 </div>




<link rel="stylesheet" href="navbar.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">