<div class="contact-form-container">
  <h1>Comment trouver mon artisan?</h1>
  <h1>Une réponse vous sera apporté(e) sous 48heures.</h1>
  <label for="work">Choisissez un métier:</label>

  <select name="work" id="work-select">
    <option value="">--Merci de sélectionner un métier--</option>
    <option value="electrician">Electricien</option>
    <option value="brasseur">Brasseur</option>
    <option value="boulanger">Boulanger</option>
    <option value="couvreur">Couvreur</option>
    <option value="plombier">Plombier</option>
    <option value="poterie">Poterie</option>
  </select> <br>

    <form action="/submit-cat-photo" method="post">
      <label for="name">Prénom:</label><br>
      <input type="text" id="name" name="name" required><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br>
      <label for="message">Message:</label><br>
      <textarea id="message" name="message" required></textarea><br>
      <input type="submit" value="Envoyer" >
    </form>
  </div>

  



      <!--Les artisans du mois-->>
    
<div class="middle">
    
  <div class="swiper-slide card">
    <div class="card-content">
        <div class="img">
          <img src="../assets/images/electricien.PNG" alt="">
        </div>
        <div class="social-media">
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-mobile"></i>
        </div>

        <div class="name-profession">
          <span class="name">João Cruz</span> 
          <span class="jobs">Electricien<br> 1er ce mois-ci <br>Valenciennes</span>
        </div>

        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="button">
          <button class="aboutMe" routerLink="/about/electricien">A propos</button>
          <button class="ContactMe" routerLink="/contact">Contactez-moi</button>
        </div>
    </div>
  </div>
  
   <!--Deuxième  cartes-->
   <div class="swiper-slide card">
    <div class="card-content">
        <div class="img">
          <img src="../assets/images/brasseur.PNG" alt="">
        </div>
        <div class="social-media">
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-mobile"></i>
        </div>

        <div class="name-profession">
          <span class="name">Vincent Thaie</span> 
          <span class="jobs">Brasseur<br> 2ème ce mois-ci <br> Caudry</span>
        </div>

        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="button">
          <button class="aboutMe" routerLink="/about/brasseur">A propos</button>
          <button class="ContactMe" routerLink="/contact">Contactez-moi</button>
        </div>
    </div>
  </div>

  


  <!--Troisième cartes-->

  <div class="swiper-slide card">
    <div class="card-content">
        <div class="img">
          <img src="../assets/images/plombier.PNG" alt="">
        </div>
        <div class="social-media">
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-mobile"></i>
        </div>

        <div class="name-profession">
          <span class="name">Jason Whoups</span> 
          
          <span class="jobs">Plombier <br> 3ème ce mois-ci <br> Paris</span>
        </div>

        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="button">
          <button class="aboutMe" routerLink="/about/plombier">A propos</button>
          <button class="ContactMe" routerLink="contact">Contactez-moi</button>
        </div>
    </div>
  </div>

  