<h1 class="middle">Vous avez choisi la catégorie "Fabrication"</h1>
<h2 class="middle2">
Voici d'autres catégories qui peuvent vous intéresser: <a href="../batiment/batiment.component.html">Bâtiment</a> ou <a href="../alimentation/alimentation.component.html">Alimentation</a>, <a href="../services/services.component.html">Services</a></h2> <br>

<p class="middle2">Le métier de fabrication sont des métiers très précieux de l'Artisanat. Si vous êtes manuel, et que vous aimé(e) constamment apprendre de nouvelles compétences, cette catégories de métier est faites pour vous !</p>
<h1 class="middle">Voici les différents type de métier présent dans la catégories Fabrication : </h1>


     
  


        <h1 class="middle">Horloger</h1>

        <p class="middle2">Le métier d'horloger est un métier très minitieux ou la patience est la clef de la réussite.</p>

         <div class="Picture"><img src="../assets/images/Horloger.jpeg" alt=""> 
         </div>

  
  
         <h1 class="middle">Ferronier</h1>

         <p class="middle2">Le métier d'horloger est un métier très minitieux ou la patience est la clef de la réussite.</p>
 

              <div class="Picture">  <img src="../assets/images/Ferronier.jpg" alt="Ferronier">
              </div>

  
                <h1 class="middle">Chaudronnier</h1>

                <p class="middle2">Le métier d'horloger est un métier très minitieux ou la patience est la clef de la réussite.</p>
        
  
  
               <div class="Picture"> <img src="../assets/images/Chaudronnier.jpeg" alt="Chaudronnier">
               </div>
            
              

  
     
  
  

  