<main class="main">
    <h1 class="middle">Catégories : bâtiment</h1>
    <h2 class="middle2">Vous avez choisis la catégories de travail bâtiment. <br>
    Voici d'autres catégories qui peuvent vous intéresser: <a href="../fabrication/fabrication.component.html">Fabrication</a> ou <a href="../alimentation/alimentation.component.html">Alimentation</a>, <a href="../services/services.component.html">Services</a></h2> <br>
  

    <h1 class="middle">Electricien</h1>

    <p class="middle2">Le métier d'Electricien est un métier artisanl à risque.</p>

     <div class="Picture"><img src="../assets/images/éléctricien.jpg" alt="Electricien"> 
     </div>

     
    <h1 class="middle">Couvreur</h1>

    <p class="middle2">Le métier de Couvreur est un métier artisanl très risqué, il nécessite énormement de patience.</p>

     <div class="Picture"><img src="../assets/images/Couvreur.jpg" alt="Couvreur"> 
     </div>

     
    <h1 class="middle">Plombier</h1>

    <p class="middle2">Le métier de Plombier est un métier artisanl.</p>

     <div class="Picture"><img src="../assets/images/plombier.jpg" alt="plombier"> 
     </div>