<app-navbar></app-navbar>
<br> 
<main class="main">
  <h1 class="text_presentation">Bienvenue sur "Trouve Ton Artisan !", voici quelques conseils avant de démarrer :</h1>
  <h2 class="second_text">Dans le menu en haut, vous y retrouverez les services proposez, ainsi que nos différents types de travail artisanal. <br>
  Vous pouvez séléctionner un artisan en cliquant sur sa photo. <br> 
Pour contacter un artisan, cliquer sur sa photo puis, remplisser le formulaire de contact en dessous (une réponse vous sera apporté(e) sous 48 heures)</h2> <br>

<h1 class="text_presentation">Comment trouver mon artisan ?</h1>
<h2 class="second_text">Choisissez un artisan qui vous convient ci-dessous: </h2>




    <div class="pics_jobs">
      <div class="card_jobs">
      <h1 class="stats_jobs">1er ce mois-ci</h1>
    <img src="../assets/images/electricien.PNG" alt="éléctricien"  class="electricien" > <br>
    <p class="name">Jean Louis Cruz</p> 
    <p  class="red">Spécialité:<a href="https://www.hellowork.com/fr-fr/metiers/electricien.html" target="_blank" class="green">Electricité</a></p>
    <img src='../assets/images/5 étoile.png' alt="étoile"  class="text_jobs" width="50%"> <br>
    <img src='../assets/images/localisation.png'  alt="Localisation" class="text_jobs" width="8%"><a href="https://www.google.fr/maps/dir//59300+Valenciennes/@50.3571605,3.4771326,13z/data=!3m1!4b1!4m9!4m8!1m1!4e2!1m5!1m1!1s0x47c2edc768b409b3:0xb5f4dcec0bfdf494!2m2!1d3.518332!2d50.357113?entry=ttu" target="_blank">VALENCIENNES</a><img src='../assets/images/internet.png' alt="Site web"  width="8%"> <br>
    <div class="button_div"> 
    <button class="button_jobs">A PROPOS</button>
  </div>
    </div>
  </div>

  
  <div class="pics_jobs2">
    <div class="card_jobs">
    <h1 class="stats_jobs">2eme ce mois-ci</h1>
  <img src="../assets/images/brasseur.PNG" alt="brasseur"  class="pics" > <br>
  <p class="name">Vincent Thaie</p> 
  <p  class="red">Spécialité:<a href="https://www.cidj.com/metiers/brasseur-malteur-brasseur-malteuse#:~:text=Description%20m%C3%A9tier,nombreux%20candidats%20notamment%20en%20reconversion." target="_blank" class="green">Brasseur</a></p>
  <img src='../assets/images/5 étoile.png' alt="étoile"  class="text_jobs" width="50%"> <br>
  <img src='../assets/images/localisation.png'  alt="Localisation" class="text_jobs" width="8%"><a href="https://www.google.fr/maps/dir//59540+Caudry/@50.119149,3.396908,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47c299ef20158b5b:0xac8e89c8d44985c0!2m2!1d3.410122!2d50.124269?entry=ttu" target="_blank">CAUDRY</a><img src='../assets/images/internet.png' alt="Site web"  width="8%"> <br>
  <div class="button_div"> 
  <button class="button_jobs">A PROPOS</button>
</div>
  </div>
</div>


<div class="pics_jobs3">
  <div class="card_jobs">
  <h1 class="stats_jobs">3eme ce mois-ci</h1>
<img src="../assets/images/plombier.PNG" alt="plombier"  class="pics" > <br>
<p class="name">Jason Whoups</p> 
<p  class="red">Spécialité:<a href="https://www.samsic-emploi.fr/nos-metiers/plombier#:~:text=Les%20principales%20missions%20du%20plombier,et%20de%20mise%20aux%20normes"  target="_blank" class="green">Plombier</a></p>
<img src='../assets/images/5 étoile.png' alt="étoile"  class="text_jobs" width="50%"> <br>
<img src='../assets/images/localisation.png'  alt="Localisation" class="text_jobs" width="8%"><a href="https://www.google.fr/maps/dir//Paris/@48.8589384,2.2646349,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47e66e1f06e2b70f:0x40b82c3688c9460!2m2!1d2.3522219!2d48.856614?entry=ttu" target="_blank">PARIS</a><img src='../assets/images/internet.png' alt="Site web"  width="8%"> <br>
<div class="button_div"> 
<button class="button_jobs">A PROPOS</button>
</div>
</div>
</div>










</main>  <br>
<app-footer></app-footer>

<link rel="stylesheet" href="/src/styles.sass">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">


