<h1 class="middle">Catégories : Alimentation</h1>
<h2 class="middle2">Vous avez choisis la catégories de travail Alimentation. <br>
Voici d'autres catégories qui peuvent vous intéresser: <a href="../fabrication/fabrication.component.html">Fabrication</a> ou <a href="../services/services.component.html">Services</a>, <a href="../batiment/batiment.component.html">bâtiment</a></h2> <br>


<h1 class="middle">Boulanger</h1>

<p class="middle2">Le métier de boulanger est un métier très artisanal, ou il y a du temps et de la patience à investir.</p>

 <div class="Picture"><img src="../assets/images/boulanger.jpg" alt="Boulanger"> 
 </div>

 <h1 class="middle">Brasseur</h1>

 <p class="middle2">Le métier de brasseur est un métier très minutieux.</p>

  <div class="Picture"><img src="../assets/images/brasseur.PNG" alt="brasseur"> 
  </div>