<!--Ajouts du component Navbar-->
<br> 
<!--Présentation/Explication site-->
<main class="main">
  <h1 class="text_presentation">Bienvenue sur "Trouve Ton Artisan !", voici quelques conseils avant de démarrer :</h1>
  <h2 class="second_text">Dans le menu en haut, vous y retrouverez les services proposez, ainsi que nos différents types de travail artisanal. <br>
  Vous pouvez séléctionner un artisan en cliquant sur sa photo. <br> 
Pour contacter un artisan, cliquer sur sa photo puis, remplisser le formulaire de contact en dessous (une réponse vous sera apporté(e) sous 48 heures)</h2> <br>

<h1 class="text_presentation">Comment trouver mon artisan ?</h1>
<h2 class="second_text">Choisissez un artisan qui vous convient ci-dessous: </h2>



<!--Carte avec artisans-->

<section>
  <div class="swiper swiper-container" slides-per-view="1">
    <div class="swiper-wrapper content">

      <div class="swiper-slide card">
        <div class="card-content">
            <div class="img">
              <img src="../assets/images/electricien.PNG" alt="">
            </div>
            <div class="social-media">
              <i class="fa-solid fa-user"></i>
              <i class="fa-solid fa-mobile"></i>
            </div>

            <div class="name-profession">
              <span class="name">João Cruz</span> 
              <span class="jobs">Electricien<br> 1er ce mois-ci</span>
            </div>

            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="button">
              <button class="aboutMe">A propos</button>
              <button class="ContactMe">Contactez-moi</button>
            </div>
        </div>
      </div>



      <div class="swiper-slide card">
        <div class="card-content">
            <div class="img">
              <img src="../assets/images/brasseur.PNG" alt="">
            </div>
            <div class="social-media">
              <i class="fa-solid fa-user"></i>
              <i class="fa-solid fa-mobile"></i>
            </div>

            <div class="name-profession">
              <span class="name">Vincent Thaie</span> 
              <span class="jobs">Brasseur<br> 2ème ce mois-ci</span>
            </div>

            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="button">
              <button class="aboutMe">A propos</button>
              <button class="ContactMe">Contactez-moi</button>
            </div>
        </div>
      </div>

      



      <div class="swiper-slide card">
        <div class="card-content">
            <div class="img">
              <img src="../assets/images/plombier.PNG" alt="">
            </div>
            <div class="social-media">
              <i class="fa-solid fa-user"></i>
              <i class="fa-solid fa-mobile"></i>
            </div>

            <div class="name-profession">
              <span class="name">Jason Whoups</span> 
              <span class="jobs">Plombier <br> 3ème ce mois-ci</span>
            </div>

            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="button">
              <button class="aboutMe">A propos</button>
              <button class="ContactMe">Contactez-moi</button>
            </div>
        </div>
      </div>

      <div class="swiper-slide card">
        <div class="card-content">
            <div class="img">
              <img src="../assets/images/plombier.PNG" alt="">
            </div>
            <div class="social-media">
              <i class="fa-solid fa-user"></i>
              <i class="fa-solid fa-mobile"></i>
            </div>

            <div class="name-profession">
              <span class="name">Jason Whoups</span> 
              <span class="jobs">Plombier <br> 3ème ce mois-ci</span>
            </div>

            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="button">
              <button class="aboutMe">A propos</button>
              <button class="ContactMe">Contactez-moi</button>
            </div>
        </div>
      </div>

      <div class="swiper-slide card">
        <div class="card-content">
            <div class="img">
              <img src="../assets/images/plombier.PNG" alt="">
            </div>
            <div class="social-media">
              <i class="fa-solid fa-user"></i>
              <i class="fa-solid fa-mobile"></i>
            </div>

            <div class="name-profession">
              <span class="name">Jason Whoups</span> 
              <span class="jobs">Plombier <br> 3ème ce mois-ci</span>
            </div>

            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="button">
              <button class="aboutMe">A propos</button>
              <button class="ContactMe">Contactez-moi</button>
            </div>
        </div>
      </div>

      <div class="swiper-slide card">
        <div class="card-content">
            <div class="img">
              <img src="../assets/images/plombier.PNG" alt="">
            </div>
            <div class="social-media">
              <i class="fa-solid fa-user"></i>
              <i class="fa-solid fa-mobile"></i>
            </div>

            <div class="name-profession">
              <span class="name">Jason Whoups</span> 
              <span class="jobs">Plombier <br> 3ème ce mois-ci</span>
            </div>

            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="button">
              <button class="aboutMe">A propos</button>
              <button class="ContactMe">Contactez-moi</button>
            </div>
        </div>
      </div>



    </div>
  </div>


  
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</section> 







<script>
  const swiperEl = document.querySelector('swiper-container');
  const buttonEl = document.querySelector('button');

  buttonEl.addEventListener('click', () => {
    swiperEl.swiper.slideNext();
  });
</script>

</main>  <br>
<!--Ajout footer-->
<app-footer></app-footer>

<!--SASS/FONTS/JS-->
<link rel="Javascript" href="script.js">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="script" href="./app.component.ts">
<link rel="stylesheet" href="/src/styles.sass">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

