<div class="text">
    <h1 class="blue">Le métier de Brasseur vous attire et vous aimeriez en savoir plus à propos de lui ?</h1>
    <H2 class="blue2">Cette offre d'emploi ne nécessite aucune expérience.</H2>
    <p>Type d'emploi: Contrat d'apprentissage, ou Titre Professionel.</p>
    <h2 class="blue2">Salaire :</h2>
    <p>Les apprentis de plus de 21 ans (jusqu'à 25 ans) sont payé(e)s : <br> 936,47 euros par mois pendant la 1ère année (53% du SMIC),<br> 1 077,82 euros pendant la 2ème année (61% du SMIC) <br>1 378,20 euros pendant la 3ème année (78% du SMIC).</p>
    <p>Le salaire médian pour un électricien employé dans une entreprise est situé entre 22 000 et 24 000 euros bruts par an <br> Cette rémunération correspond à un net mensuel compris entre 1 400 et 1 600 euros.</p>
    <h2 class="blue2">Horaires :</h2>
    <p>35heure par semaine.</p>
    <H2 class="blue2">Mois classique d'un Apprenti :</H2>
    <p>3 semaines en Entreprise, une semaine en Formation (dépends selon établissement)</p>
</div>